<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- GOOGLE FONT ---->
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700" />
    <link rel="stylesheet" media="all" href="/assets/application-4d716c93d419d4b6bb27c34d7108e202fda110a903dfea83548ea0972279bd45.css" />    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <title>Product #1 - 6829 - BIGBAG Store</title>
  </head>
  <body>
    <header>
  <div class="header clearfix">
    <!-- TOPBAR -->
    <div class="topBar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="list-inline pull-right">
              <li class="dropdown searchBox">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <form id="form01" action="product-grid-left-sidebar.html" method="post">
                    <li>
                      <span class="input-group">
                        <input type="text" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                        <span onclick= "FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                      </span>
                    </li>
                  </form>
                </ul>
              </li>
              <li class="dropdown"><a href="cart-page.html" class="dropdown-toggle" data-toggle="dropdown disabled"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/potepan"><img alt="" src="/assets/img/logo-986b71cbbd84f5bcd313bf6df7e348ce5802931703a8d6bfa3588cdfca164113.png" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/potepan">Home</a></li>
            <li class="dropdown megaDropMenu active">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>    
</header>
    
    <div class="main-wrapper">
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2>Product #1 - 6829</h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li><a href="/potepan">Home</a></li>                          
            <li class="active">Product #1 - 6829</li>
          </ol>
        </div>
      </div>
    </div>
  </section>     
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                      <img src="http://www.example.com/rails/active_storage/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDVG9JYTJWNVNTSnJkbUZ5YVdGdWRITXZjbkp3Y3pkMU5qZ3lZbkYwWkhsck5XOWtjSEJvZG5jellYbG5NeTgyWm1FNFkyWXlaakF6TW1ZeE9HTTNNakV4WXpGa1pEVTRZMlZoTWprd09XVmpaRGd3TVRGbFltUXpZelJpTVRobE9URmlZelZrTm1Wa1ltUmlaV0U0QmpvR1JWUTZFR1JwYzNCdmMybDBhVzl1U1NJOWFXNXNhVzVsT3lCbWFXeGxibUZ0WlQwaVlteGhibXN1YW5Cbklqc2dabWxzWlc1aGJXVXFQVlZVUmkwNEp5ZGliR0Z1YXk1cWNHY0dPd1pVT2hGamIyNTBaVzUwWDNSNWNHVkpJZzlwYldGblpTOXFjR1ZuQmpzR1ZEb1JjMlZ5ZG1salpWOXVZVzFsT2dsMFpYTjAiLCJleHAiOm51bGwsInB1ciI6ImJsb2Jfa2V5In19--5e1cac95c1192cefba2b95abdd3aa09f97f7d22e/blank.jpg" />
                    </div>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                      <div data-target="#carousel" data-slide-to="0" class="thumb">
                        <img src="http://www.example.com/rails/active_storage/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDVG9JYTJWNVNTSnJkbUZ5YVdGdWRITXZjbkp3Y3pkMU5qZ3lZbkYwWkhsck5XOWtjSEJvZG5jellYbG5NeTlqWlRaaE1XRXlOalJrWTJaaE1qTTVNV0V6WlRReU9ESTVZak0yT1RjeVpEY3hOekU0TkRFek4yUTVZVGxpWVdVeU1XUXhPRGt6WkdWa1pERXhOV0k0QmpvR1JWUTZFR1JwYzNCdmMybDBhVzl1U1NJOWFXNXNhVzVsT3lCbWFXeGxibUZ0WlQwaVlteGhibXN1YW5Cbklqc2dabWxzWlc1aGJXVXFQVlZVUmkwNEp5ZGliR0Z1YXk1cWNHY0dPd1pVT2hGamIyNTBaVzUwWDNSNWNHVkpJZzlwYldGblpTOXFjR1ZuQmpzR1ZEb1JjMlZ5ZG1salpWOXVZVzFsT2dsMFpYTjAiLCJleHAiOm51bGwsInB1ciI6ImJsb2Jfa2V5In19--e19d4652079fbf81e87d23495f93eb9c79bbbfb8/blank.jpg" />
                      </div>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <a href="/potepan/categories/12689">
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
</a>                </li>
              </ul>
              <h2>Product #1 - 6829</h2>
              <h3>$19.99</h3>
              <p>As seen on TV!</p>
              <span class="quick-drop">
                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                  <option value="0">S</option>
                  <option value="1">M</option>
                  <option value="2">L</option>
                  <option value="3">XL</option>
                </select>
              </span>
              <span class="quick-drop resizeWidth">
                <select name="guiest_id4" id="guiest_id4" class="select-drop">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </span>
              <div class="btn-area">
                <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
</div>

    </div>
  </section>
</div>

    <footer>
  <!-- COPY RIGHT -->
  <div id="footer" class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-xs-12">
          <p>&copy; 2016-2023 Copyright Potepan Store .</p>
        </div>
        <div class="col-sm-5 col-xs-12">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- LOGIN MODAL -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">log in</h3>
        </div>
        <div class="modal-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="login-email">Enter Email</label>
              <input type="email" class="form-control" id="login-email">
            </div>
            <div class="form-group">
              <label for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">log in</button>
            <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- SIGN UP MODAL -->
  <div class="modal fade" id="signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Create an account</h3>
        </div>
        <div class="modal-body">
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="signup-email">Enter Email</label>
              <input type="email" class="form-control" id="signup-email">
            </div>
            <div class="form-group">
              <label for="signup-password">Password</label>
              <input type="password" class="form-control" id="signup-password">
            </div>
            <div class="form-group">
              <label for="signup-password-confirmation">Confirm Password</label>
              <input type="password" class="form-control" id="signup-password-confirmation">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
    
    <script src="/assets/application-777c3fd7c6a5f276e1903afc96f9d25e7c17c9dd76c8870ff2b5a64997d3ea01.js"></script>
  </body>
</html>
